@charset "utf-8";

body{font-family: 'Montserrat', sans-serif; font-family: 'Noto Sans KR', sans-serif;}


/*------------header start--------------*/
/*header_top*/
#header{position: relative;}
#header #header_top{
	width: 1334px; height: 98px; margin: 0 auto;
	z-index: 1;
}
#header_top h1{float: left; 
	position: relative; top: 38px;
	width: 123px; height: 22px;
	background: url(../img/logo.png) no-repeat; text-indent: -9999px;
}
#header_top #main_menu{position: absolute; left: 50%;
	transform: translateX(-50%);
}
#main_menu>ul{}
#main_menu>ul>li{float: left;}
#main_menu>ul>li>a{display: block; text-align: center; 
	line-height: 98px; padding:0 40px; font-weight: 700;
	_font-size: 20pt;
}

.quick_menu{float: right; height: 98px;}
.quick_menu .cart{float:left; width: 30px; height: 30px; 
	background: url(../img/icon-cart.png) no-repeat; text-indent: -9999px;
}
.quick_menu .mypage{float:right; width: 30px; height: 30px; 
	background: url(../img/icon-mypage.png) no-repeat; text-indent: -9999px;
}


/*slider_wrap*/
.slider_wrap{}
.slider_wrap .slider li{height: 1080px;}
.slider_wrap .slider li.first{
	background: url(../img/slider01.jpg) no-repeat center;
	background-size: cover;
}
.slider_wrap .slider li.second{
	background: url(../img/slider01.jpg) no-repeat center;
	background-size: cover;
}
.slider_wrap .slider_txt{width: 420px; position: absolute;
	left: 50%; transform: translateX(-50%); top: 30%; color: #fff;
	text-align: center;
}
.slider_wrap .slider .slider_txt h3{font-size: 3.5em; 
	text-shadow: 0 0 5px #000;
}
.slider_wrap .slider .slider_txt p{}

.slider_wrap .bx-wrapper{
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.slider_wrap .bx-pager{bottom: 350px;}




/*------------content start--------------*/
#header .content{width: 1344px; height: 1344px; position: absolute;
	left: 50%; transform: translateX(-50%); background-color: #fff;
	top: 744px;
}
.content>ul>li{float: left; width: 25%; height: 336px;
}
.content>ul>li:nth-child(2n){background: skyblue;}  /*2n = 짝수*/

.content>ul>li.box01{background: #0058ab;}
.content>ul>li.box01 a{}
.content>ul>li.box01 a img{width: 123px; height: 123px;
	margin: 0 auto;
}
.content>ul>li.box01 a p{color:#fff; text-align: center;}





