@charset "utf-8";
html,body{height: 100%;}
body{font-family: 'Nanum Gothic', sans-serif;}
fieldset{border:0 none;}
legend{display: block; position: absolute; left: 0; top: -9999px;}

/*header*/
/*headerWrap*/
.headerWrap{
	height: 90px;
	background-color:#0870a7;
	background-image:url(../images/headerair.jpg);
	background-repeat:no-repeat;
	background-position:center;
}
.header{
	width: 980px; margin: 0 auto;
	position: relative; 
	}
.header .logo{float:left; margin-left: 0; margin-top: 20px;}

.form_wrap{
	position: absolute;
	left:280px; top:30px;
	z-index:1
}
.searchInp{
	width: 290px;height: 30px;
	border:0 none;
	border-radius:15px;
	text-indent:80px;
	font-weight:bold;
	background-color: #fff;
	position: relative;
	z-index:1;
}
.searchBtn{
	width: 20px;height: 20px;
	background-image: url(../images/search.jpg);
	text-indent:-9999px;
	border:0 none;
	position: absolute; top:4px; right:12px;
	z-index:1;
}
.searchTitle{
	display: block;
	width: 60px; height: 20px;
	background-image: url(../images/searchtext.jpg);
	text-indent:-9999px;
	position: absolute; top:6px; left:12px;
	z-index:2;
}

.contact{float:right;}
.contact .number{
	float:left; font-size:25px; color:#fff;
	font-weight: bold; margin-right:20px; 
	line-height: 90px;
}
.contact .sns{float:left;}
.contact .sns li{float:left; margin-left: 6px; margin-top: 32px;
}

/*menuWrap*/
.menuWrap{
	height: 64px;
	background-image:url(../images/menu.jpg);
	border-bottom: 5px solid #0e73a7;
}
.menuWrap .menu{width: 980px; margin: 0 auto;}
.menuWrap .menu ul{}
.menuWrap .menu ul li{
	float:left; width:163.3333px; border-right: 1px solid #ececec;
	line-height: 59px;
}
.menuWrap .menu ul li:first-child{border-left:1px solid #ececec;}
.menuWrap .menu ul li a{
	display: block; text-align: center; 
	font-weight: bold; font-size: 18px;
}

/*section*/
.section_bg{background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:56px;}
.section_bg .section_wrap{width: 980px; margin: 0 auto;}
.main_top{position: relative;}
.main_top .main_left{float:left;}
.main_left .main_search{width: 482px; height: 300px; position: relative;}
.main_search .bx-pager{
	position: absolute; left: 0; top: 0; 
	width: 132px; height: 75px; 
}
.main_search .sliderWrap{position: absolute; top: 0; right: 0;}

.main_search .bx-pager a{
	display: block;
	line-height: 75px;
	text-align: center;
 	background: #006599;
 	color:#fff;
	font-weight: bold;
	cursor: pointer;
}
.main_search .bx-pager a.active{background-color:#fff; color:#414141;}
.main_search .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

/*section----form*/
.formLayer{
	width: 350px; height: 300px;
	background: #fff; margin: 0 auto;
	padding: 23px 35px;
}
.formLayer fieldset{margin-bottom: 10px;}
.formLayer li>.left,
.formLayer li>.right{margin:10px 0;}
.formLayer li>.right{float:right;}
.formLayer label{display: block; padding: 5px 0; font-size: 0.8em;
	font-weight: bold;
}
.formLayer select{
	width: 100%; height: 30px; font-size: 0.8em;
	text-indent: 5px; border-radius: 5px;
	color:#c4c4c4; border: 2px solid #ededed;
}

.formLayer .left,.formLayer .right{float:left; width: 130px;}
.formLayer .left{margin-right: 20px;}
.formLayer .left input,.formLayer .right input{
	width: 100%; height: 30px; font-size: 0.8em;
	text-indent: 5px; border-radius: 5px; 
	color:#c4c4c4; border: 2px solid #ededed;
}

.formLayer .grade,.formLayer .age{float:left; width: 130px;}
.formLayer .grade{margin-right: 20px;}

.formLayer .grade input,.formLayer .age input{
	width: 100%; height: 30px; font-size: 0.8em;
	text-indent: 5px; border-radius: 5px; 
	color:#c4c4c4; border: 2px solid #ededed;
}

.formLayer .age input{width: 60px; height: 30px;}
.formLayer .age .adult{float:left;}
.formLayer .age .kids{float:right;}

.formLayer .tBtn{width: 100%; height: 40px;
	border: 0 none; cursor: pointer;
	background: #ea4f1f; color: #fff;
	font-weight: bold; font-size: 1em;
	border-radius: 5px;
	margin-top: 15px;
}


/*section----main_left----*/
.main_left .main_result{}
.main_left .main_result ul{}
.main_left .main_result ul li{
	float:left; width: 233px; height: 240px; 
	margin-right: 16px; margin-top: 16px; background: green;
	position: relative;
}
.main_left .main_result ul>li .txtbox{width: 233px; height: 50px; 
	background: #152630;
	position: absolute; left: 0; bottom: 0;
	line-height: 50px; padding:0 20px;
}
.main_left .main_result ul>li .txtbox p{float:left;}
.main_left .main_result ul>li .txtbox p:nth-child(1){font-size:bold; color:#fff;}
.main_left .main_result ul>li .txtbox p:nth-child(2){font-size:bold; color:#6fc667;}
.main_left .main_result ul>li .txtbox a{color:#9faaae;}

/*section----main_right----*/
.main_top .main_right{position: absolute; left: 523px; top: 15px; }
.main_right h2{font-size: 4em; font-weight: bold; color:#142630;}
.main_right p{font-size: 1.8em; font-weight: bold; color:#142630;
	margin-top: 15px;}

.main_sub{}
.main_sub ul{}  
.main_sub ul>li{float: left; width: 233px; height: 240px; 
	margin-right: 16px; margin-top: 16px;
	background: pink;
}
.main_sub ul>li:nth-child(4),
.main_sub ul>li:nth-child(8){margin-right: 0;}



/*card01*/
.card01{position: relative;}
.card01 .card_img p{text-align: center; color: #fff; 
	font-weight: bold; font-size:1.2em;
	position: absolute; left: 50%; top: 8%;
	transform:translate(-50%,-8%); 
}
.card01 .card_txt{width: 233px; height: 65px; background: #529353;
	position: absolute; left: 0; bottom: 0;color: #fff;
	padding:14px 18px;
}



/*card03*/
.card03{position: relative;}
.card03 .card_img p{text-align: center; color: #fff; 
	font-weight: bold; font-size:1.2em;
	position: absolute; left: 50%; top: 8%;
	transform:translate(-50%,-8%); 
}
.card03 .card_txt{width: 233px; height: 65px; background: #2c2836; opacity: 80%;
	position: absolute; left: 0; bottom: 0;color: #fff;
	padding:14px 18px;
}
.card03 .card_txt p{font-size: 0.8em; margin-top: 3px;}

/*card04*/
.card04{position: relative; background-color: #f5f3f4 !important;}
.card04 .card_img{position: relative; } 
.card04 .card_img img{
	width: 80%;
	position: absolute; top: 28px; right: 0;
}
.card04 .card_img p{
	color: #484848; 
	font-weight: bold; font-size:0.9em;
	position: absolute; left: 23px; top:27px;
}
.card04 .card_img .txt_star{
	color:#446199; margin-top: 60px;
}
.card04 .card_img .stars01{
	width: 67px; height: 12px;
	position: absolute; left: 23px; top:110px;
}
.card04 .card_txt{width: 233px; height: 65px; background: #44619d;
	position: absolute; left: 0; bottom: 0;color: #fff;
	padding:14px 18px;
}
.card04 .card_txt h4{}
.card04 .card_txt p{font-size: 0.8em; margin-top: 3px;}

/*card05*/
.card05{position: relative; overflow: hidden;
}
.card05 img{
	width: 100%; height: 100%;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%) scale(1.2);
	transition: 0.3s;
}
.card05 .txt{width: 233px; color:#2d3371; 
	text-align: center; 
	position: absolute; top: 30px;
	font-weight: bold;
	z-index: 1
}
.card05 .txt h4{font-size: 1.2em;}
.card05 .txt p{font-size: 0.9em; margin-top: 5px;}
.card05 .bg{width: 100%; height: 100%; background: #27a5c9;
	position: relative; opacity: 0;
}
.card05 .wrap{width: 30px; height: 30px; border: 3px solid #fff;
			border-radius: 15px; box-sizing: border-box;
			position: absolute; left: 50%; top: 50%;
			transform:translate(-50%,-50%);
			transition: 0.3s;
			z-index:1;
}
.card05 .wrap .bar1,.wrap .bar2{width: 13px; height: 3px; 
	background-color: #fff; border-radius: 2px;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%);
}
.card05 .wrap .bar2{transform:translate(-50%,-50%) rotate(90deg);}
.card05:hover img{transform:translate(-50%,-50%) scale(1.4);}
.card05:hover .txt{color:#fff;}
.card05:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.card05:hover .bg{opacity: 0.4;}

/*card06*/
.card06{position: relative;	overflow: hidden;}
.card06 img{
	height: 100%;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%);
}
.card06 .txt{width: 233px; color:#fff; 
	text-align: center; 
	position: absolute; bottom: 30px;
	font-weight: bold;
	z-index: 1;
}
.card06 .txt h4{font-size: 1.2em;}
.card06 .txt p{font-size: 0.9em; margin-top: 5px;}
.card06 .bg{width: 100%; height: 100%; background: #000;
	position: relative; opacity: 0.6; top:60%; transition: 0.3s;
}
.card06 .wrap{width: 30px; height: 30px; border: 3px solid #fff;
			border-radius: 15px; box-sizing: border-box;
			position: absolute; left: 50%; top: 50%;
			transform:translate(-50%,-50%);
			transition: 0.3s;
			z-index:1;
		}
.card06 .wrap .bar1,.wrap .bar2{width: 13px; height: 3px; 
	background-color: #fff; border-radius: 2px;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%);
}
.card06 .wrap .bar2{transform:translate(-50%,-50%) rotate(90deg);}
.card06:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.card06:hover .bg{top:0;}

/*card07*/
.card07{position: relative; overflow: hidden;}
.card07 img{height: 100%; 
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%);
}
.card07 .txt{width: 233px; color: #fff;
	text-align: center;
	position: absolute; bottom: 30px;
	font-weight: bold;
	z-index: 1;
}
.card07 .txt h4{font-size: 1.2em;}
.card07 .txt p{font-size: 0.9em; margin-top: 5px;}
.card07 .wrap{width: 30px; height: 30px; border: 3px solid #fff;
			border-radius: 15px; box-sizing: border-box;
			position: absolute; left: 50%; top: 50%;
			transform:translate(-50%,-50%);
			transition: 0.3s;
			z-index:1;
}
.card07 .bg{width: 100%; height: 100%; background: #000;
	position: relative; opacity: 0.6; top:60%; transition: 0.3s;
}		
.card07 .wrap .bar1,.wrap .bar2{width: 13px; height: 3px; 
	background-color: #fff; border-radius: 2px;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%);
}
.card07 .wrap .bar2{transform:translate(-50%,-50%) rotate(90deg);}
.card07:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.card07:hover .bg{top:0;}

/*card08*/
.card08{position: relative; overflow: hidden;
}
.card08 img{
	width: 100%; height: 100%;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%) scale(1.2);
	transition: 0.3s;
}
.card08 .txt{width: 233px; color:#359b70; 
	text-align: center; 
	position: absolute; top: 30px;
	font-weight: bold;
	z-index: 1
}
.card08 .txt h4{font-size: 1.2em;}
.card08 .txt p{font-size: 0.9em; margin-top: 5px;}
.card08 .bg{width: 100%; height: 100%; background: #359b70;
	position: relative; opacity: 0;
}
.card08 .wrap{width: 30px; height: 30px; border: 3px solid #fff;
			border-radius: 15px; box-sizing: border-box;
			position: absolute; left: 50%; top: 50%;
			transform:translate(-50%,-50%);
			transition: 0.3s;
			z-index:1;
		}
.card08 .wrap .bar1,.wrap .bar2{width: 13px; height: 3px; 
	background-color: #fff; border-radius: 2px;
	position: absolute; left: 50%; top: 50%;
	transform:translate(-50%,-50%);
}
.card08 .wrap .bar2{transform:translate(-50%,-50%) rotate(90deg);}
.card08:hover img{transform:translate(-50%,-50%) scale(1.4);}
.card08:hover .txt{color:#fff;}
.card08:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.card08:hover .bg{opacity: 0.4;}


/*footer*/
.footer_wrap{padding: 30px 0;}
.footer_wrap .footer{width: 980px; margin: 0 auto; }
.footer_wrap .footer ul{}
.footer_wrap .footer li{float:left;}
.footer_wrap .footer li a{display: block; padding-right:20px;
	font-size:0.9em;
}
address{
	font-style:normal; 
	margin-top: 15px; color:#707070;
	font-size: 0.8em; line-height: 20px;
}