@charset "utf-8";
/*common*/
.headerTop,
.headerBott{width: 1200px; margin: 0 auto;}


/*header*/
.wrapHeaderTop{height: 40px; background: #0044af;}
.headerTop .tab{width:366px;height: 40px; float:left;}
.headerTop .tab li{
	width: 120px;height: 40px; float:left;
	background: #fff ;color:#000;
	text-align: center; line-height: 40px;
	margin-right: 2px;
}
.headerTop .tab li:nth-child(2),
.headerTop .tab li:nth-child(3){background: #00163b; color:white;}
/*탭 두개만 선택되는거 어떻게 표현해야할 지 모르겠음.*/

.headerTop .subMenu{width: 290px; float:right; background: orange;}
.headerTop .subMenu li{
	height: 40px; float:left; 
	color:#000; text-align: center; line-height: 40px; font-size: 12px;
	margin-left: 2px;
}

.headerBott{height: 120px; padding:25px 0;}
.headerBott .logo img{float:left;}

.headerBott .nav{float:left;}
.headerBott .nav li{
	float:left;
}

.headerBott .toggle{}
.headerBott .toggle .quick{}
.headerBott .toggle .mypage{}


/*contents*/
#contents{
	height: 1300px;   /* h값은 나중에 삭제해주기*/
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover;    /*높이에 의해서 w를 책정.무슨 뜻인지 모르겠음*/
	}
#contents .title{
	width: 1200px; height: 260px; background: gray; margin: 0 auto;
}
#contents .container{width: 1200px; margin: 0 auto;}
#contents .container li{float:left; width: 25%; height: 225px;}
/*레이어 잡기 편해서 float left 사용. gutter도 없으니까 */

#contents .container li:nth-child(1){background: #f00; width: 75%;height: 450px;}
#contents .container li:nth-child(2){background: #ff0; width: 25%;height: 450px;}
#contents .container li:nth-child(3){background: #0ff;}
#contents .container li:nth-child(4){background: #00f;}
#contents .container li:nth-child(5){background: #f0f;}
#contents .container li:nth-child(6){background: skyblue;}
#contents .container li:nth-child(7){background: orange; width: 25%;}
#contents .container li:nth-child(8){background: aqua; width: 75%;}



/*footer*/
footer#footer{
	height: 200px;
}