@charset "utf-8";
/*common*/
.headerTop,
.headerBott{width: 1200px; margin: 0 auto;}


/*header*/
/*header top*/
.headerTopWrap{background: #0044af;}
.headerTop .tab{}
.headerTop .tab ul{float:left;}
.headerTop .tab ul>li{
	float:left; width: 120px; margin-right: 2px; background: #00163b;}
.headerTop .tab ul>li>a{
	display: block; line-height: 40px;
	text-align: center; color: #fff; font-weight: bold;
}
.headerTop .tab ul>li>a.active{background: #fff; color:#6e6e6e;}

.headerTop .subMenu ul{float:right;}
.headerTop .subMenu ul>li{float:left; font-size: 0.8em;}
.headerTop .subMenu ul>li>a{
	display: block; line-height: 40px; color:#fff; padding:0 5px;
}
.headerTop .subMenu li.sizeBtn a{
	float:left; background: #fff; padding:0;
	margin-right: 2px; color:#9a9a9a;  
	width: 16px; height: 16px; line-height: 14px; text-align: center;
	margin-top: 10px; font-weight: bold; text-indent: -2px;
}
.headerTop .subMenu li:last-child a{padding-right: 0;}

/*header bottom*/
.headerBott{
	width: 1200px; margin: 0 auto; padding:30px 0;
	position: relative;     /*.headerBott .navWrap의 poa 때문에*/
	_background:#ddd;
}
.headerBott h1{
	width: 212px; height: 53px; 
	background:red url(../images/main_logo.jpg) no-repeat;
}
.headerBott h1 a{display: block; line-height: 53px; text-indent: -9999px;}

.headerBott .navWrap{width: 760px; position: absolute; right: 0; top: 36px;}
.headerBott .navWrap ul.nav{float:left;}
.headerBott .navWrap ul.nav li{float:left;}  /*한줄로 늘려쓰기위해*/
.headerBott .navWrap ul.nav li a{
	display: block; color:#464646; font-size: 1.2em;
	width: 130px; line-height: 45px; font-weight: bold;
}

.headerBott .navWrap .btnToggle{float:right;}
.headerBott .navWrap .btnToggle a{
	display: block; width: 45px; height: 45px;
	float:left;
	background-image: url(../images/toggle_btn.gif);
	background-repeat: no-repeat; text-indent: -9999px;
}
.headerBott .navWrap .btnToggle .toggle{background-position: 0 0;}
.headerBott .navWrap .btnToggle .my{background-position: -45px 0;}


/*contents*/
#contents{
	height: 1300px;   /* h값은 나중에 삭제해주기*/
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover;    /*높이에 의해서 w를 책정.무슨 뜻인지 모르겠음*/
	}
#contents .title{
	width: 1200px; height: 260px; margin: 0 auto;
	padding:80px 0;
}
#contents .title .titleTxt{float:left;}
#contents .title .titleTxt p{color:#fff;}
#contents .title .titleTxt p:nth-child(1){font-size: 2em;}
#contents .title .titleTxt p:nth-child(2){font-size: 3em; font-weight: bold;}

#contents .title .iconWrap{}
#contents .title .iconWrap ul.icon{float:right;}
#contents .title .iconWrap ul.icon li{
	float:left; width: 110px; height: 40px;
}
#contents .title .iconWrap ul.icon a{display: block; text-align: center;}
#contents .title .iconWrap ul.icon p{color:white;}

#contents .container{width: 1200px; margin: 0 auto;}
#contents .container>ul>li{float:left; width: 25%; height: 225px;}
/*레이어 잡기 편해서 float left 사용. gutter도 없으니까 */

#contents .container>ul>li:nth-child(1){background: #f00; width: 75%;height: 450px;}
#contents .container>ul>li:nth-child(2){background: #ff0; width: 25%;height: 450px;}
#contents .container>ul>li:nth-child(3){background: #00163b;}
/*#contents .container>ul>li:nth-child(4){background: #1651b7;}*/
/*#contents .container>ul>li:nth-child(5){background: #f0f;}*/
#contents .container>ul>li:nth-child(6){background: skyblue;}
#contents .container>ul>li:nth-child(7){background: orange; width: 25%;}
#contents .container>ul>li:nth-child(8){background: aqua; width: 75%;}


/*slider*/
.viewSlider{}
.viewSlider .sliderTxt{
	position: absolute; left: 80px; top: 80px;
	font-size:3em;_font-weight: bold;color:#1550b6;
}
.viewSlider .sliderTxt p{margin-bottom: 30px;}
.viewSlider .sliderTxt a{
	display: block; width: 160px; line-height: 40px;
	font-size:initial;text-align: center;
	background: #182c4d; color:white;
}

.bx-wrapper {
		    -moz-box-shadow:none;
		    -webkit-box-shadow:none;
		    box-shadow:none;
		    border:0 none;
		    margin-bottom:0;
		}

.sliderTwo .bx-wrapper .bx-pager {
    bottom: 190px;
    width: 150px;
    right:0;
	}

/*box*/
.boxTwo{position:relative;}
.boxTwo .appTxt{position:absolute; left: 40px; top: 65px;}
.boxTwo .appTxt p:nth-child(1){margin-bottom: 25px; color:white; font-size: 37px;}
.boxTwo .appTxt p:nth-child(2){margin-bottom: 25px; color:white; font-size: 15px;}
.boxTwo .appTxt a{
	display: block; width: 160px; line-height: 40px;
	font-size:initial;text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color:white; border: 1px solid #ddd;
}

.boxThree{padding:20px;}
.boxThree h5{font-size:25px; font-weight:bold; color:white; margin-bottom: 35px;}
.boxThree .subIcon li{float:left; text-align: center; margin-right: 30px;}
.boxThree .subIcon li:last-child{margin-right: 0px;}
.boxThree .subIcon p{font-size:13px;color:white;}

.boxFour{padding:20px; background-color: #1651b7;}
.boxFour h5{font-size:25px; font-weight:bold; color:white; margin-bottom: 35px;}
.boxFour h5:after{}
.boxFour li{float:left; text-align: center; margin-right: 30px; margin-bottom: 15px;}
.boxFour p{font-size:13px;color:white;}

.boxFive{padding:20px; background-color: #fff; position: relative;}
.boxFive h5{font-size:25px; font-weight:bold; color:white; margin-bottom: 20px; color:#081945;}
.boxFive .smallUniv{float:left;}
.boxFive p{float:right; font-size:13px;color:#000;}
.boxFive .smallSns{position:absolute; bottom: 20px; right: 20px;}


/*footer*/
footer#footer{
	height: 200px;
}