@charset "utf-8";
/*bg*/
#page1{_background-image: url(../images/bg1.jpg);}
#page2{background-image: url(../images/bg2-1.jpg);} 
#page3{background-image: url(../images/bg3.jpg);}
#page4{background-image: url(../images/bg4.jpg);}
#page5{_background-image: url(../images/bg5.jpg);}    /*샵 흰배경*/    
#page6{background-image: url(../images/bg6.jpg);}


/*font*/
body{font-family: 'M PLUS Rounded 1c', sans-serif;}

.f7em{font-size:7em !important}
.f65em{font-size:6.5em !important}
.f6em{font-size:6em !important}
.f55em{font-size:5.5em !important}
.f5em{font-size:5em !important}
.f45em{font-size:4.5em !important}
.f4em{font-size:4em !important}
.f35em{font-size:3.5em !important}
.f3em{font-size:3em !important}
.f25em{font-size:2.5em !important}
.f2em{font-size:2em !important}
.f15em{font-size:1.5em !important}
.f13em{font-size:1.3em !important}

.fw100{font-weight: 100;}
.fw200{font-weight: 200;}
.fw300{font-weight: 300;}
.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
.fw800{font-weight: 800;}
.fw900{font-weight: 900;}

.mb20{margin-bottom: 20px !important;}
.mb40{margin-bottom: 40px !important;}



/*section*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}



/*navigation*/
nav#navTop{position: fixed;z-index:1;width: 100%;}
nav#navTop .bg{background: #fff; height: 95px; opacity: 0.7;}
nav#navTop .logo{position: absolute; top: 30px; left: 100px; text-indent: -9999px;}
nav#navTop ul{position: absolute;top: 30px; right: 100px; }
nav#navTop li{float: left;}
nav#navTop li a{display: block; text-align: center;
	padding: 0 20px; font-size: 1.3em; color:#636363;
}
nav#navTop li.active a{color:#000; font-weight: 500;}

/*scroll*/
.scroll{position: absolute;left: 50%;transform:translateX(-50%);
	bottom: 20px;animation:xScroll 0.8s infinite alternate;
}
@keyframes xScroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}


/*-------------------------------------------------------------*/


/*page1*/
#onViewOne .viewTxt{position: absolute;left:300px; top: 50%; transform: translateY(-50%);
	color:white; text-align: left; color:#000;}
#onViewOne .viewTxt h2{line-height: 130px;}
#onViewOne .viewTxt .des{color:#636363;}
#onViewOne .viewTxt a{display: block; width: 150px; line-height: 50px;
	background: #000;color:#fff; border-radius:25px; text-align: center;
}
#onViewOne .viewTxt a:hover{background-color: #fff;color:#000;}


#video{position: absolute;width: 100%;height: 100%;
	object-fit:cover;top:0;
}


/*#onViewOne{top:10%; transition:0.3s; opacity:0;}
#onViewOne.move{top:30%;opacity:1;}*/



/*page2*/
.slide{position: relative;}
.slide .view1 ul,
.slide .view2 ul,
.slide .view3 ul{width:80%;height: 600px;
	position: absolute; left: 50%;top: 50%; transform:translate(-50%,-50%);
}

.slide ul li{float: left;}
.slide ul li.left{width: 45%;
	position: absolute; top: 0; _left: 100px;}
.slide ul li.left .des{color:#636363;}
.slide ul li.right{float: right; width: 55%;height: 600px;}

.slide .view1 ul li.right{background-image: url(../images/about-01.jpg); background-size:cover;}
.slide .view2 ul li.right{background-image: url(../images/about-01.jpg); background-size:cover;}
.slide .view3 ul li.right{background-image: url(../images/about-01.jpg); background-size:cover;}



/*page3 artworks*/
#page3{position: relative;}
#onViewThree h2{
	position: absolute; top: 15%; left: 50%; transform:translateX(-50%);

}
#onViewThree .artworksTitle{
	position: absolute; top:30%; left: 50%; transform:translateX(-50%);
	text-align: center;
}

.artworks02,
.artworks03,
.artworks04,
.artworks05{display: none;}

#onViewThree ul.artworksImg{width: 1600px; height: 267px; overflow: hidden;}

#onViewThree .hoverCover{background: #dae3e2;opacity: 0.7;}

.container{width: 1600px; margin: 0 auto;
	position: absolute; top: 40%; left: 50%; transform:translateX(-50%);
}
.slick img{width: 267px; height: 267px;	display: block;margin: 0 auto;}


/*page4 news*/
#page4{position: relative;}
#onViewFour{width:80%;height: 600px;
	position: absolute; left: 50%;top: 50%; transform:translate(-50%,-50%);
}
#onViewFour .title{float: left; } 
.title h4{} 
.title h4,
.title h2{position: absolute; left: 0;}
.title p{position: absolute; right: 0; color:#636363; }


#onViewFour .text{position: relative; top: 120px;}
#onViewFour .text li{margin-bottom: 150px;}
#onViewFour .text li h4,
#onViewFour .text li p{float:left; display: block; }
#onViewFour .text p{width: 500px;}
#onViewFour .text li img{position: absolute; right: 0;}




/*page5 shop*/
#page5{position: relative;}

#page5 .titleWrap{width: 100%; height: 312px; background-color: #fff;
	position: relative; position: absolute; top: 0;
}
#page5 .title{width: 1182px; margin: 0 auto;
	position: absolute; top: 185px; color:black;
}
.offOn{position: absolute;}
.offOn .offline{width: 960px; height: 768px; background: #dae3e2; 
	position: relative; bottom: 0;left: 0;}
.offOn .offline p{color:#fff; text-align: center;}
.offOn .online{width: 960px; height: 768px; background: #fff; 
	position: relative;bottom: 0;right: 0;}
.offOn .online p{color:#dae3e2; text-align: center;}


/*page6 contact*/





